h1{
  font-size: 100px;
  color: #084C5A;
  text-align: center;
}
h2 {
  font-size: 16px;
  font-style: oblique;
  color: #1D6371;
  /*font-style: italic;*/
  text-align: center;
  font-family: sans-serif;
}
p {
  line-height: 40px;
  font-family: sans-serif;
}
ul {
  line-height: 40px;
  background-color: #42ADBC;
}
